apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-redis
  namespace: cinequest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movie-redis
  template:
    metadata:
      labels:
        app: movie-redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: movie-redis
  namespace: cinequest
spec:
  selector:
    app: movie-redis
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP
