spring:
  application:
    name: cinequest-gateway
  
  # Service URLs for gateway routing (Docker service names)
  # These can be overridden by environment variables
  gateway:
    services:
      keycloak: ${KEYCLOAK_SERVICE_URL:http://localhost:3001}
      movie: ${MOVIE_SERVICE_URL:http://localhost:3002}
      rating: ${RATING_SERVICE_URL:http://localhost:3003}
      sign: ${SIGN_SERVICE_URL:http://localhost:3004}
      achievement: ${ACHIEVEMENT_SERVICE_URL:http://localhost:3005}
      notification: ${NOTIFICATION_SERVICE_URL:http://localhost:3006}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URL:http://localhost:8000/keycloak/realms/cinequest}
          jwk-set-uri: ${JWT_SET_URL:http://localhost:3001/keycloak/realms/cinequest/protocol/openid-connect/certs}

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        minimumNumberOfCalls: 5
  timelimiter:
    configs:
      default:
        timeoutDuration: 3s
  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 2s

server:
  port: 8000