apiVersion: apps/v1
kind: Deployment
metadata:
  name: achievement-service
  namespace: cinequest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: achievement-service
  template:
    metadata:
      labels:
        app: achievement-service
    spec:
      containers:
        - name: achievement-service
          image: zeli8888/cinequest-achievement-service
          imagePullPolicy: Always
          ports:
            - containerPort: 3005
            - containerPort: 50051
          env:
            - name: ACHIEVEMENT_MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: ACHIEVEMENT_MONGODB_URI
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KAFKA_BOOTSTRAP_SERVERS
            - name: KAFKA_SCHEMA_REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KAFKA_SCHEMA_REGISTRY_URL
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "768Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: achievement-service
  namespace: cinequest
spec:
  selector:
    app: achievement-service
  ports:
    - name: http
      port: 3005
      targetPort: 3005
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
