apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: cinequest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: zeli8888/cinequest-gateway:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: KEYCLOAK_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KEYCLOAK_SERVICE_URL
            - name: MOVIE_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: MOVIE_SERVICE_URL
            - name: RATING_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: RATING_SERVICE_URL
            - name: SIGN_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: SIGN_SERVICE_URL
            - name: ACHIEVEMENT_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: ACHIEVEMENT_SERVICE_URL
            - name: NOTIFICATION_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: NOTIFICATION_SERVICE_URL
            - name: JWT_ISSUER_URL
              value: "http://localhost:8080/keycloak/realms/cinequest"
            - name: JWT_SET_URL
              value: "http://keycloak:8080/keycloak/realms/cinequest/protocol/openid-connect/certs"
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "768Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: cinequest
spec:
  selector:
    app: gateway
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP
