apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: cinequest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:24.0.1
          args:
            - "start-dev"
          ports:
            - containerPort: 8080
          env:
            - name: KC_DB
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_DB
            - name: KC_DB_URL_HOST
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_DB_URL_HOST
            - name: KC_DB_URL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_DB_URL_DATABASE
            - name: KC_DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_DB_USERNAME
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cinequest-secrets
                  key: KC_DB_PASSWORD
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: cinequest-secrets
                  key: KEYCLOAK_ADMIN
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cinequest-secrets
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KC_HTTP_RELATIVE_PATH
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_HTTP_RELATIVE_PATH
            - name: KC_PROXY
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_PROXY
            - name: KC_HOSTNAME_STRICT
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_HOSTNAME_STRICT
            - name: KC_HOSTNAME_STRICT_HTTPS
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_HOSTNAME_STRICT_HTTPS
            - name: KC_HTTP_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KC_HTTP_ENABLED
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: cinequest
spec:
  selector:
    app: keycloak
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
