apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-service
  namespace: cinequest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: movie-service
  template:
    metadata:
      labels:
        app: movie-service
    spec:
      containers:
        - name: movie-service
          image: zeli8888/cinequest-movie-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3002
          env:
            - name: TMDB_API_KEY
              valueFrom:
                secretKeyRef:
                  name: cinequest-secrets
                  key: TMDB_API_KEY
            - name: MOVIE_REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: MOVIE_REDIS_HOST
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "768Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: movie-service
  namespace: cinequest
spec:
  selector:
    app: movie-service
  ports:
    - port: 3002
      targetPort: 3002
  type: ClusterIP
