apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: cinequest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: zeli8888/cinequest-notification-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3006
          env:
            - name: MAILTRAP_HOST
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: MAILTRAP_HOST
            - name: MAILTRAP_PORT
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: MAILTRAP_PORT
            - name: MAILTRAP_USERNAME
              valueFrom:
                secretKeyRef:
                  name: cinequest-secrets
                  key: MAILTRAP_USERNAME
            - name: MAILTRAP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cinequest-secrets
                  key: MAILTRAP_PASSWORD
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: KAFKA_BOOTSTRAP_SERVERS
            - name: SCHEMA_REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  name: cinequest-config
                  key: SCHEMA_REGISTRY_URL
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "768Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: cinequest
spec:
  selector:
    app: notification-service
  ports:
    - port: 3006
      targetPort: 3006
  type: ClusterIP
